@import url("variables.css");


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px; 
    font-family: var(--standard-font);
}

body {
    background-color: var(--background-color);
}

.grid-12 { /* 12 grid system to line up elements */
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
    width: 1296px;
}


#app-features {
    display: flex;
    justify-content: center;
    align-items: center;

    #af-top-left, #af-bot-left {
        grid-column: 2 / span 4;
    }

    #af-top-left, #af-bot-right {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #af-top-right, #af-bot-right {
        grid-column: 7 / span 4;
    }

    @media (width < 1440px) {
        display: none;
    }

    .af-top {
        display: flex;
        justify-content: center;
    }

    .af-bot {
        margin-top: 10rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: none;
        i {
            color: var(--brand-primary);
            margin-right: .5rem;
        }
        li {
            margin-bottom: 1rem;
        }
    }

    
}

.af-header {
    text-wrap: balance;
}

#af-icons {
    #af-card, #af-wallet {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        background-color: var(--icon-background);
        border-radius: 8px;
    }
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}

.af-learn-more {
    max-width: 140px;
    text-align: center;
    background-color: var(--brand-primary);
    color: white;
    font-size: var(--font-size-s);
    padding: 0.75rem 0;
    border-radius: 8px;
}

