@import url("variables.css");


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px; 
    font-family: var(--standard-font);
}

body {
    background-color: var(--background-color);
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
    width: 100dvw;
    max-width: 92.5%;
    @media (width >=1440px) {
        max-width: 67.5%;
    }
    
}

#faq {
    display: flex;
    justify-content: center;
    align-items: center;
    #faq-header {
        grid-column: span 12;
        @media (width >= 768px) {
            grid-column: 3/span 8;
        }
        h4 {
            
            text-align: center;
            padding: 0 30px;

            @media (width >= 768px) {
                font-size: var(--font-size-h2);
                text-wrap: balance;
            }

            @media (width >= 1440px) {
                text-align: left;
                padding: 0;
                margin: 0 0 50px 15px;
            }
        }
        
        
    }

    #faq-contact-text {
        grid-column: span 12;
        @media (width >= 768px) {
            grid-column: 3/span 8;
        }

        p {
            font-size: var(--font-size-l);
            text-align: center;
            padding: 0 10px;
            
            @media (width >= 768px) {
                padding: 0 40px;
            }
        }
    }

}
