@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --standard-font: "Manrope", sans-serif;
    --font-color: var(--gray-700);
    --font-color-lead: #585C7B;
    --header-color: var(--gray-900);
    --link-color: var(--brand-primary);
    --link-color-alt: #22C55E;

    --nav-text-color: var(--gray-800);
    --nav-text-color-hover: var(--brand-primary);
    --border-color: var(--gray-300);
    --button-color: var(--gray-100);
    --button-color-toggle: var(--brand-primary);
    --button-color-hover: var(--brand-primary-overlay);

    --background-color: white;
    --background-color-accordion-mobile: white;
    --background-color-accordion: white;
    --accordion-arrow-color: #3E4265;

    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 28px;
    --font-size-h4: 24px;
    --font-size-h5: 20px;
    --font-size-h6: 16px;
    --font-weight-header: 800;

    --font-size-lead: 24px;
    --font-size-xl: 20px;
    --font-size-l: 18px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;

    --gray-100: #F3F6FF;
    --gray-200: #EFF2FC;
    --gray-300: #E2E5F1;
    --gray-400: #D4D7E5;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
    --brand-primary: #6366F1;
    --brand-primary-overlay: rgb(113, 115, 241);
    --brand-gradient: linear-gradient(90deg,rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(217, 70, 239, 1) 100%);
}

[data-theme="dark"] {
    --background-color: var(--gray-900);
    --background-color-accordion-mobile: #131022;
    --background-color-accordion: rgba(255, 255, 255, 0.04);
    --accordion-arrow-color: var(--gray-400);

    --border-color: rgba(255, 255, 255, 0.15);
    --button-color: rgba(255, 255, 255, 0.05);

    --header-color: var(--gray-400);
    --font-color: rgba(255, 255, 255, 0.7);
}