@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: "Manrope", sans-serif;
}

#features {
    & .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        max-width: 1296px;
        margin: auto;

        & .featuresImg {
            display: none;
            grid-column: 1 / span 4;

            @media (width >= 1440px) {
                display: block;
            }
        }

        & .content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            grid-column: span 12;
            
            @media (width >= 1440px) {
                grid-column: 6 / span 7;
                gap: 67px;
            }
            
            & .header {
                display: flex;
                flex-direction: column;
                gap: 24px;
                text-align: center;

                @media (width >= 1440px) {
                    grid-column: 6 / span 7;
                    text-align: left;
                }
            }

            & .appFeatures {
                display: grid;
                row-gap: 32px;
                justify-content: center;
    
                @media (width >= 768px) {
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 24px;
                }

                @media (width >= 1440px) {
                    grid-column: 6 / span 7;
                    column-gap: 56px;
                    row-gap: 48px;
                }
    
                & .feature {
                    display: flex;
                    gap: 1.5rem;
                    align-items: start;
    
                    & .featureIcon {
                        display: flex;
                        padding: 1rem;
                        background-color: aqua;
                        border-radius: 0.5rem;
    
                        & svg {
                            color: #6366F1;
                        }
                    }

                    & .featureText {
                        & h3 {
                            font-weight: 800;
                        }

                        & p {
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }
}