@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: "Manrope", sans-serif;

    --white: #FFFFFF;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-900: #0B0F19;

    /* Egna CSS variabler */
    --background-color: var(--white);
    --heading-color: var(--gray-900);
    --subtitle-color: var(--gray-600);
    --body-color: var(--gray-700);
    --feature-icon-padding-color: rgba(99, 102, 241, 8%);
}

[data-theme="dark"] {
    --background-color: var(--gray-900);
    --heading-color: var(--white);
    --subtitle-color: rgba(255, 255, 255, 50%);
    --body-color: rgba(255, 255, 255, 70%);
}

body {
    background-color: var(--background-color);
}

#features {
    & .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        max-width: 100%;
        padding: 0 12px;
        margin-left: auto;
        margin-right: auto;

        @media (width >= 576px) {
            max-width: 540px;
            text-wrap-style: pretty;
            padding: 0;
        }

        @media (width >= 768px) {
            max-width: 720px;
        }

        @media (width >= 992px) {
            max-width: 960px;
        }

        @media (width >= 1200px) {
            max-width: 1140px;
        }

        @media (width >= 1400px) {
            max-width: 1320px;
        }

        & .featuresImg {
            display: none;
            grid-column: 1 / span 4;

            @media (width >= 1400px) {
                display: block;
            }
        }

        & .content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            grid-column: span 12;

            @media (width >= 768px) {
                gap: 40px;
            }
            
            @media (width >= 1400px) {
                grid-column: 6 / span 7;
                gap: 67px;
            }
            
            & .header {
                display: flex;
                flex-direction: column;
                gap: 24px;
                text-align: center;

                @media (width >= 1400px) {
                    grid-column: 6 / span 7;
                    text-align: left;
                    gap: 13px;
                }

                & h2 {
                    font-size: 1.75rem; /* 28px */
                    font-weight: 800;
                    line-height: 130%;
                    color: var(--heading-color);

                    @media (width >= 768px) {
                        font-size: 2rem; /* 32px */
                    }

                    @media (width >= 1200px) {
                        font-size: 2.5rem; /* 40px */
                    }
                }

                & p {
                    font-size: 1.125rem; /* 18px */
                    line-height: 160%;
                    color: var(--subtitle-color);
                }
            }

            & .appFeatures {
                display: grid;
                row-gap: 32px;
                justify-content: center;
    
                @media (width >= 768px) {
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 24px;
                }

                @media (width >= 1400px) {
                    grid-column: 6 / span 7;
                    column-gap: 56px;
                    row-gap: 48px;
                }
    
                & .feature {
                    display: flex;
                    gap: 1.5rem;
                    align-items: start;
    
                    & .featureIcon {
                        display: flex;
                        padding: 1rem;
                        background-color: var(--feature-icon-padding-color);
                        border-radius: 0.5rem;
                    }

                    & .featureText {
                        & h3 {
                            font-size: 1.25rem; /* 20px */
                            font-weight: 800;
                            line-height: 140%;
                            color: var(--heading-color);
                        }

                        & p {
                            margin-top: 12px;
                            line-height: 160%;
                            color: var(--body-color);
                        }
                    }
                }
            }
        }
    }
}