@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-color: var(--gray-700);
    --header-color: var(--gray-900);
    --link-color: var(--brand-primary);
    --link-color-alt: #22C55E;

    --nav-text-color: var(--gray-800);
    --nav-text-color-hover: var(--brand-primary);
    --border-color: var(--gray-300);
    --button-color: var(--gray-100);
    --button-color-toggle: var(--brand-primary);
    --button-color-hover: var(--brand-primary-overlay);

    --background-color: white;
    --background-color-accordion: white;
    --card-hover-shadow: rgba(19, 16, 34, 0.06);
    --accordion-arrow-color: #3E4265;
    --background-color-testimonials: var(--gray-100);

    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1rem;
    --font-weight-header: 800;

    --font-size-lead: 1.5rem;
    --font-size-xl: 1.25rem;
    --font-size-l: 1.125rem;
    --font-size-m: 1rem;
    --font-size-s: 0.875rem;
    --font-size-xs: 0.75rem;

    --gray-100: #F3F6FF;
    --gray-200: #EFF2FC;
    --gray-300: #E2E5F1;
    --gray-400: #D4D7E5;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
    --brand-primary: #6366F1;
    --brand-primary-overlay: rgb(113, 115, 241);
    --brand-gradient: linear-gradient(90deg,rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(217, 70, 239, 1) 100%);
}

[data-theme="dark"] {
    --background-color: var(--gray-900);
    --background-color-accordion: #131022;
    --accordion-arrow-color: var(--gray-400);
    --background-color-testimonials: rgba(255, 255, 255, 0.04);
    --card-hover-shadow: rgba(122, 109, 183, 0.06);

    --border-color: rgba(255, 255, 255, 0.15);
    --button-color: rgba(255, 255, 255, 0.05);

    --header-color: var(--gray-400);
    --font-color: rgba(255, 255, 255, 0.7);
}

html {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-header);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

p {
    line-height: 1.5;
    color: var(--font-color);
    font-weight: 200;
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--header-color);
}

h2 {
    font-size: var(--font-size-h2);
    color: var(--header-color);
}

h3 {
    font-size: var(--font-size-h3);
    color: var(--header-color);
}

h4 {
    font-size: var(--font-size-h4);
    color: var(--header-color);
}

h5 {
    font-size: var(--font-size-h5);
    color: var(--header-color);
}

h6 {
    font-size: var(--font-size-h6);
    color: var(--header-color);
}

a {
    text-decoration: none;
    color: var(--link-color);

    &:hover {
        text-decoration: underline;
    }
}

.grid-12 { /* 12 grid system to line up elements */
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
    width: 100dvw;
    max-width: 92.5%;
    @media (width >=1440px) {
        max-width: 67.5%;
    }
}

#faq {
    display: flex;
    justify-content: center;
    align-items: center;
    #faq-header, .faq-left { /* FAQ Header */
        grid-column: 2 / span 10;
        @media (width >= 768px) {
            grid-column: 3/span 8;
        }
        @media (width >= 1440px) {
            grid-column: 1 / span 4;
        }

        h4 {
            text-align: center;
            padding: 0 30px;

            @media (width >= 768px) {
                font-size: var(--font-size-h2);
                text-wrap: balance;
            }

            @media (width >= 1440px) {
                text-align: left;
                padding: 0;
            }
        }
    }


    /* CSS accordion logic */
    #faq-accordion { /* Accordion label */
        grid-column: span 12;
        @media (width >= 1440px) {
            grid-column: 6 / span 7;
            /* order: 1; */
        }

        .input-quests { /* Hide radio button */
            display: none;
        }

        user-select: none;

        border: 1px solid var(--border-color);
        border-radius: 8px;
        @media (width >= 768px) {
            display: grid;
            border: none;
            gap: 1rem;
        }
    }

    .faq-question {
        background-color: var(--background-color-accordion);
        @media (width >= 768px) {
            border: 1px solid var(--border-color);
            border-radius: 8px;
        }

        h6 {
            display: flex;
            align-items: center;
            padding: 15px 20px;
            min-height: 70px;
        }
    }

    /* Dropdown Arrow */
    .q-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        @media (width < 768px) {
            border-bottom: 1px solid var(--border-color);
        }
    }
    .q-label::after {   /* Arrow icon */
        color: var(--accordion-arrow-color);
        font-family: "bootstrap-icons";
        content: "\F282";
        z-index: 1;
    }
    .q-label-button::after { /* Arrow icon background */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        min-height: 35px;
        min-width: 35px;
        margin: 0 20px 0 0;
        border-radius: 50%;
        background-color: var(--button-color);
        transition: 0.5s;
    }
    /* ^Dropdown Arrow^ */

    .faq-answer { /* Dropdown answer portion of the accordion */
        max-height: 0;
        overflow: hidden;
            @media (width < 768px) {
            border-bottom: 1px solid var(--border-color);
        }

        transition-property: all;
        transition-duration: .25s;
        transition-timing-function: ease-in;

        p {
            margin: 0;
            padding: 15px 20px;
            text-align: justify;
        }
    }

    .last-faq {  /* No bottom border for the last question in the accordion */
        border-bottom: none;
    }

    /* Input logic */
    .input-quests:checked ~ .faq-answer {
        max-height: 600px;
        transition-property: all;
        transition-duration: .25s;
        transition-delay: 0;
        transition-timing-function: ease-in;
    }

    .input-quests:checked + .q-label-button::after {
        background-color: var(--button-color-toggle);
        transition: 0.25s;
    }

    .input-quests:checked + .q-label::after {
        transform: rotate(180deg);
        transition: 0.25s;
    }

    @media (width >= 768px) {
        .input-quests:checked + .q-label {
            border-bottom: 1px solid var(--border-color);
        }
    }

    .input-quests:checked + .last-faq {  /* No bottom border for the last question in the accordion */
        border-bottom: 1px solid var(--border-color);
    }
    /* ^Input logic^ */
    /* ^CSS accordion logic^ */
    /* Contact links */
    #faq-contact-text { /* Text part only */
        grid-column: span 12;
        @media (width >= 768px) {
            grid-column: 3/span 8;
        }
        @media (width >= 1440px) {
            grid-column: 1/span 4;
        }
        p {
            font-size: var(--font-size-l);
            text-align: center;
            padding: 0 10px;
            
            @media (width >= 768px) {
                padding: 0 40px;
            }

            @media (width >= 1440px) {
                text-align: left;
                padding: 0;
            }
        }
    }


    #faq-contact-mobile {
        grid-column: 4 / span 6;
        a {
            display: block;
            background-color: var(--brand-primary);
            color: white;
            text-align: center;
            padding: 15px 0;
            border-radius: 8px;
        }

        @media (width >= 768px) {
            display: none;
        }
    }

    .contact-link-768up {
        grid-column: span 6;

        @media (width < 768px) {
            display: none;
        }

        max-height: 160px;

        border: 1px solid var(--border-color);
        border-radius: 8px;

        padding: 1.5rem;
        transition: all 0.25s;
        &:hover {
            text-decoration: none;
            @media (width >= 1440px) {
                box-shadow: 6px 6px 8px 2px var(--card-hover-shadow);
                transform: scale(1.02);
                transition: all 0.25s;
            }
            
        }

        p {
            font-size: var(--font-size-s);
        }
        
    }

    #contact-phone {
        @media (width >= 1440px) {
            grid-column: 1/span 2;
        }
    }

    #contact-chat {
        color: var(--link-color-alt);
        @media (width >= 1440px) {
            grid-column: 3/span 2;
        }
    }
}
