@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root { 
    --standard-font: "Manrope", sans-serif;
    --font-color: var(--gray-700);
    --header-color: var(--gray-900);
    --nav-text-color: var(--gray-800);
    --nav-text-color-hover: var(--brand-primary);


    --gray-100: #F3F6FF;
    --gray-200: #EFF2FC;
    --gray-300: #E2E5F1;
    --gray-400: #D4D7E5;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
    --brand-primary: #6366F1;
    --brand-gradient: linear-gradient(90deg,rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(217, 70, 239, 1) 100%);

}

    body {
    font-family: var(--standard-font);
   
}
.container {
    width: 100%;
    margin: 0 auto;
    
}

.hero .container {
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    
}
.hero h1 {              /*TILLFÄLLIGT*/

    font-size: 34.1px;
    line-height: 44.4px;
    color: #131022;
    letter-spacing: 0;
    text-align: center;

    max-width: 298px;
    justify-self: center;
    margin-top: 25px;
    grid-column: 1 / -1;
}
.hero p {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #585C7B;
    letter-spacing: 0;
    grid-column: 1 / -1;
    max-width: 361.41px;
    justify-self: center;
    margin-top: 18.22px;
    text-align: center;
}

.hero a {

    grid-column: 1 / -1; 

    width: 100%;
    max-width: 366.4px;
    height: 50.41px;

    justify-self: center;
    background-color: black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero a img {
    display: block;
    margin: 0 auto;
   
   
    
}
.hero img {      /*TILLFÄLLIGT*/
   
   display: block;
   width: auto;
   height: auto;
   margin: 0; 
}
.hero .hero-phone {
    display:none;
}

.hero p + a {
    margin-top: 24.75px;
}
.hero a + a {
    margin-top: 16px;
}