@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --standard-font: "Manrope", sans-serif;
    --font-color: var(--gray-700);
    --header-color: var(--gray-900);
    --nav-text-color: var(--gray-800);
    --nav-text-color-hover: var(--brand-primary);


    --gray-100: #F3F6FF;
    --gray-200: #EFF2FC;
    --gray-300: #E2E5F1;
    --gray-400: #D4D7E5;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
    --brand-primary: #6366F1;
    --brand-gradient: linear-gradient(90deg,rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(217, 70, 239, 1) 100%);

}

    body {
    font-family: var(--standard-font);
   
}
.container {
    width: 100%;
    margin: 0 auto;

}
.navbar { /* hela navbaren */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16.4px;   /* osäker på om dessa är korrekta*/
    padding-right: 16.4px; /* Samma här */
    padding-top: 7px;
    height: 52px;
}
.logo-container { /* loggan och texten */
    display: flex;
    align-items: center;
    gap: 7px;
    
}
.logo { /* loggan */
    width: 47px;
    height: 44px;
}

.logo-container span { /* texten silicon */
    font-family: var(--standard-font);
    font-weight: 800;
    line-height: 33.3px;
    font-size: 20.8px;
    letter-spacing: 0;
    color: #131022;
 
}
.darkmode-text, 
.sign-in {
    display: none;

}
.switch-and-button { /* switchen och hamburger menyn*/
    
    display: flex;
    align-items: center;
    gap: 23.6px;
}
.menu { /*Hamburger menyn*/
    cursor: pointer;
    width: 30px;
    height: 36px;
    border: none;
    background-color: transparent;
    
}
.menu img { /*Hamburger menyns bild*/
    
    display: block;
}
.switch { /*Hela switchen*/
   cursor: pointer;
    width: 46px;
    height: 24px;
    position: relative;
}
 .switch input { /*Döljer checkboxen*/
         display: none;
    }
.slider { /*Själva switchen som man klickar på*/
    position: absolute;
    inset: 0;
    border-radius: 12px;
    background-color: var(--gray-600);
}
.slider::before {  /*Själva vita cirekeln som rör sig när man klickar på switchen*/
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:white;
    left: 3px; 
    top: 3px;

    transition: transform 0.3s;
}
.switch input:checked + .slider { /*när man trycker blir den blå*/
    background-color: #6366F1;
}

.switch input:checked + .slider::before {/*När man klickar så rör den sig till göger*/
    transform: translateX(22px);
} 
