@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --standard-font: "Manrope", sans-serif;
    --white: #FFFFFF;
    --gray-100: #F3F6FF;
    --gray-200: #EFF2FC;
    --gray-300: #E2E5F1;
    --gray-400: #D4D7E5;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
    --brand-primary: #6366F1;
    --brand-gradient: linear-gradient(90deg, rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(217, 70, 239, 1) 100%);
    --system-error: #EF4444;
    --system-success: #22C55E;
    --system-warning: #FFBA08;
    --system-info: #4C82F7;

    --brand-primary: #6366F1;

    --brand-gradient: linear-gradient(90deg,
            rgba(99, 102, 241, 1) 0%,
            rgba(139, 92, 246, 1) 50%,
            rgba(217, 70, 239, 1) 100%);


    /* Hero-specifika variabler */
    --hero-title: #131022;
    --hero-text: #585C7B;
    --hero-button-bg: #000000;

    --hero-bg: radial-gradient(
    ellipse at 50% 80%,    
     rgba(99, 102, 241, 0.10) 0%,
     rgba(218, 70, 239, 0.05) 42%,
     rgba(241, 244, 253, 0.07) 83%,
     transparent 100%
     );

    --hero-phone-shadow: rgba(0, 0, 0, 0.25);
}

[data-theme="dark"] {
    --hero-title: var(--white);
    --hero-text: var(--white);
    --hero-bg: radial-gradient(
    ellipse at top center,    
     rgba(99, 102, 241, 0.10) 0%,
     rgba(218, 70, 239, 0.05) 42%,
     rgba(241, 244, 253, 0.07) 83%,
     transparent 100%
     ) var(--gray-900);
    --hero-button-bg: var(--gray-200);

}




#hero {
    font-family: "Manrope", sans-serif;
    background: var(--hero-bg);
    padding-bottom: 145.34px;

    .container {
        display: grid;
        transition: max-width 0.5s ease;


        @media (width >=768px) {
            max-width: 768px;
            margin: 0 auto;

            grid-template-columns: 5fr 7fr;
            align-items: start;
        }

        @media (width >=1440px) {
            max-width: 1296px;
            margin: 0 auto;
        }
    }


    h1 {
        font-size: 34.1px;
        line-height: 44.4px;
        color: var(--hero-title);
        letter-spacing: 0;
        text-align: center;
        max-width: 298px;
        justify-self: center;
        grid-column: 1 / -1;

        @media (width >=768px) {
            grid-column: 1 / 3;
            font-family: var(--standard-font);
            font-size: 44.3px;
            font-weight: 800;
            line-height: 57.6px;
            max-width: none;
            width: 442px;
            margin-top: 28px;
        }

        @media (width >=1440px) {
            font-size: 56px;
            font-weight: 800;
            color: var(--hero-title);
            line-height: 72.8px;
            width: 526px;
            margin-top: 148px;
            margin-bottom: 0;
            max-width: none;
            text-align: left;
            justify-self: start;
        }
    }


    p {
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        color: var(--hero-text);
        letter-spacing: 0;
        grid-column: 1 / -1;
        max-width: 361.41px;
        justify-self: center;
        margin-top: 18.22px;
        text-align: center;

        @media (width >=768px) and (width < 1440px) {
    [data-theme="dark"] {
        --hero-text: #585C7B;
    }
}

        @media (width >=768px) {
            font-family: var(--standard-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            width: 270.35px;
            max-width: none;
            margin-top: 95.51px;
            margin-bottom: 40.4px;
            text-align: left;
            justify-self: start;
        }

        @media (width >=1440px) {
            width: 526px;
            max-width: none;
            margin-top: 24px;
            margin-bottom: 0;
            font-size: 18px;
            line-height: 28.8px;
            color: var(--hero-text);
        }
    }


    img {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
    }


    @media (width >=768px) {
        padding-bottom: 0;
        overflow: hidden;
    }


    @media (width >=1440px) {
        height: 800px;
    }


    .hero-content {
        transition: margin-left 0.5s ease;

        @media (width >=768px) {
            grid-column: 1;
            text-align: left;
            margin-left: 31.2px;
        }

        @media (width >=1440px) {
            margin-left: 0;
            justify-self: start;
        }
    }


    .tablet-break {
        display: none;

        @media (width >=768px) {
            display: inline;
        }
    }


    .store-buttons {
        width: 100%;

        .store-dark {
            display: none;
        }
        [data-theme="dark"] & {
    .store-light {
        display: none;
    }

    .store-dark {
        display: block;
    }
}

        a {
            width: 100%;
            max-width: 366.4px;
            height: 50.41px;
            margin: 0 auto;

            background-color: var(--hero-button-bg);
            border-radius: 6px;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                display: block;
                width: auto;
                height: auto;
                margin: 0;
            }

            &+a {
                margin-top: 16px;
            }
        }


        @media (width >=768px) {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: 40.4px;

            a {
                margin: 0;

                &+a {
                    margin-top: 0;
                }

                &:first-child {
                    width: 126px;
                    height: 43.9px;

                    img {
                        width: 92.4px;
                        height: auto;
                    }
                }

                &:last-child {
                    width: 138px;
                    height: 43.95px;

                    img {
                        width: 104.4px;
                        height: auto;
                    }
                }
            }
        }


        @media (width >=1440px) {
            margin-top: 48px;
            gap: 24px;

            a:first-child,
            a:last-child {
                width: 180px;
                height: 52px;
            }

            a:first-child img {
                width: 136px;
                height: 35.42px;
            }

            a:last-child img {
                width: auto;
                height: 35.42px;
            }
        }
    }

    .phones {
        display: none;
        transition: margin-left 0.5s ease;

        @media (width >=768px) {
            grid-column: 2;
            display: block;
            position: relative;
            width: 452px;
            height: 417px;
            margin-left: 0;
        }

        @media (width >=1440px) {
            margin-top: -250px;
            margin-left: 138.71px;
        }


        .phone-back,
        .phone-front {

            @media (width >=768px) {
                filter: drop-shadow(0 4px 4px var(--hero-phone-shadow));
            }
        }


        .phone-back {

            @media (width >=768px) {
                position: absolute;
                left: 69.51px;
                top: 82.19px;
                width: 239.92px;
                height: 485.28px;
                z-index: 1;
            }

            @media (width >=1440px) {
                width: 395.97px;
                height: 800.65px;
            }
        }


        .phone-front {

            @media (width >=768px) {
                position: absolute;
                left: 208.26px;
                top: 7px;
                width: 243.74px;
                height: 493.02px;
                z-index: 2;
            }

            @media (width >=1440px) {
                width: 402.29px;
                height: 813.42px;
            }
        }
    }
}