.how-it-works {
  text-align: center;
  padding: 60px 20px;
}

.how-it-works h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}
.phones-image {
  max-width: 100%;
 display:flex;
  justify-content:center;
  margin-bottom: 40px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.section_text {
  max-width: 500px;
  margin: 30px auto 0;
  color: #555;
  font-size: 0.95rem;
}
.transactions-heading {
  color: #060606;
  font-weight: 900;
}
.transactions-heading {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.how-it-works {
  background-image: url('image/background-carousel.png');
  background-repeat: repeat;
  text-align: center;
  padding: 60px 20px;
}